$width_of_pixel: 6px;
$width_of_container: ($width_of_pixel * 1.5) * 52 + 2;
$margin: $width_of_pixel * 0.25;


html {
    background: rgba(0, 0, 0, 0);
}

body {
    background: rgba(0, 0, 0, 0);
}

#container {
    width: 940px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.element {
    width: $width_of_pixel;
    height: $width_of_pixel;
    margin: $margin;
    border: 1px solid black;
}